practice
.pth
__pycache__
images_win
images_mac
clipseg/
.vscode
*/nohup.out
*.ipynb
lang-segment-anything/Grounded-Segment-Anything
gradio/images
logs
.empty
*.jpg
*.png
*.zip
data/
mlruns/
FastAPI/data

