practice
.pth
__pycache__
images_win
images_mac
clipseg/third_party/PhraseCutDataset/data/
.vscode
*/nohup.out
*.ipynb
lang-segment-anything/Grounded-Segment-Anything
logs
.empty
*.jpg
*.png
*.zip
data/
mlruns/

