practice
.pth
__pycache__
images_win
images_mac
clipseg/*
MobileSAM/*
.vscode
*/nohup.out
*.ipynb
lang-segment-anything/Grounded-Segment-Anything
gradio/images
logs
.empty
*.jpg
*.jpeg
*.png
*.zip
data/
mlruns/
FastAPI/data
checkpoint/
